body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;
  height: auto;
  background-image: url('../img/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.novoJogo{
  background-color: rgb(185, 81, 226);
  border: solid 1px black;
  border-radius: 3px;
  color: black;
  margin: 3rem;
  padding: .5rem;
  text-decoration: none;
}

.div_memoria{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
  padding: .5rem;
  background-color: rgba(255, 47, 245, 0.5);
  border-radius: 5px;
}

.grid{
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: repeat(7, 1fr);
  max-width: 70%;
  margin-bottom: 5rem;
}

.card{
  aspect-ratio: 1/1.3;
  width: 100%;
  border-radius: 3px;
  position: relative;
  transition: all 200ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: solid 2px rgb(234, 0, 255);
  border-radius: 3px;
  transition: all 400ms ease;
}

.front{
  transform: rotateY(180deg);
}

.back{
  background-image: url('/img/image0.jpg');
  backface-visibility: hidden;
}

.reveal-card{
  transform: rotateY(180deg);
}

.disable-card{
  filter: saturate(0);
  opacity: 0.5;
}


@media (max-width: 768px) {

  .novoJogo {
    margin: 2rem 1rem; /* Ajuste a margem para dispositivos menores */
    padding: .4rem 0.8rem; /* Ajuste o padding para um botão mais responsivo */
    font-size: 14px; /* Ajuste o tamanho da fonte */
  }

  h1 {
    font-size: 20px; /* Ajuste o tamanho da fonte */
  }

  .grid {
    grid-template-columns: repeat(5, 1fr); /* Menos colunas para dispositivos menores */
    max-width: 90%; /* Aumente a largura máxima do grid para preencher melhor a tela */
    margin-bottom: 3rem; /* Ajuste a margem para dispositivos menores */
  }
}

/* Smartphones em modo retrato e dispositivos com largura de até 480px */
@media (max-width: 480px) {

  body{
    height: auto;
    background-size: cover;
    background-repeat: repeat-y;
  }

  .novoJogo {
    margin: 1.5rem 0.5rem; /* Ajuste a margem para dispositivos muito pequenos */
    padding: .3rem 0.6rem; /* Ajuste o padding para um botão mais responsivo */
    font-size: 12px; /* Ajuste o tamanho da fonte */
  }

  h1 {
    font-size: 18px; /* Ajuste o tamanho da fonte */
  }

  .grid {
    grid-template-columns: repeat(5, 1fr); /* Colunas ainda menores para dispositivos muito pequenos */
    max-width: 95%; /* A largura máxima do grid se ajusta à tela inteira */
    margin-bottom: 2rem; /* Ajuste a margem para dispositivos muito pequenos */
  }

  .face{
    border: solid 1px rgb(234, 0, 255);
  }
}

@media (min-width: 1024px) {

  body{
    height: auto;
  }

  .novoJogo {
    margin: 1.5rem 0.5rem; /* Ajuste a margem para dispositivos muito pequenos */
    padding: .3rem 0.6rem; /* Ajuste o padding para um botão mais responsivo */
    font-size: 20px; /* Ajuste o tamanho da fonte */
  }

  h1 {
    font-size: 23px; /* Ajuste o tamanho da fonte */
  }

}

@media (max-width: 1024px) {

  body{
    height: auto;
  }

  .grid {
    grid-template-columns: repeat(5, 1fr); /* Colunas ainda menores para dispositivos muito pequenos */
    max-width: 95%; /* A largura máxima do grid se ajusta à tela inteira */
    margin-bottom: 2rem; /* Ajuste a margem para dispositivos muito pequenos */
  }
}