body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: cornflowerblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.novoJogo{
  background-color: crimson;
  border: solid 1px aliceblue;
  border-radius: 3px;
  color: aliceblue;
  margin: 3rem;
  padding: .5rem;
  text-decoration: none;
}

.div_memoria{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}

.grid{
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: repeat(7, 1fr);
  max-width: 70%;
  margin-bottom: 5rem;
}

.card{
  aspect-ratio: 1/1.3;
  width: 100%;
  border-radius: 3px;
  position: relative;
  transition: all 200ms ease;
  transform-style: preserve-3d;
}

.face {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  border: solid 2px rgb(25, 0, 255);
  border-radius: 3px;
  transition: all 400ms ease;
}

.front{
  transform: rotateY(180deg);
}

.back{
  background-image: url('/img/image0.jpg');
  backface-visibility: hidden;
}

.reveal-card{
  transform: rotateY(180deg);
}

.disable-card{
  filter: saturate(0);
  opacity: 0.5;
}