body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  background-color: cornflowerblue;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.novoJogo{
  background-color: crimson;
  border: solid 1px aliceblue;
  border-radius: 3px;
  color: aliceblue;
  margin: 3rem;
  padding: .5rem;
  text-decoration: none;
}

.div_memoria{
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  margin: 0;
}

.grid{
  display: grid;
  width: 100%;
  gap: 15px;
  grid-template-columns: repeat(4, 1fr);
  max-width: 800px;
}

.card{
  aspect-ratio: 1/1.3;
  width: 100%;
  background-color: black;
  border-radius: 3px;
}

.face {
  width: 100%;
  height: 100%;
}

.front{
  background-color: red;
}

.back{
  background-color: blue;
}