html{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body{
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Esconde as fotos após elas caírem fora da tela */
  background-image: url('../img/fundo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.waterfall-container {
  top: -270px;
  position: relative;
  width: 100%;
  height: 2000px;
  overflow: hidden;
}

.waterfall img {
  position: absolute;
  width: 150px; /* Pode ajustar o tamanho conforme necessário */
  opacity: 0.8;
  animation: fall linear infinite; 
  z-index: 1;
}

@keyframes fall {
  0% {
      top: -150px;
  }
  100% {
      top: 2000px;
  }
}

.menu{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notes{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  padding: .5rem;
  color: red;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

h3{
  font-size: 30px;
   text-transform: uppercase;
}

.container_nickname{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(124, 10, 168);
  padding: 2rem 3rem;
  margin-top: 1rem;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}

h2{
  margin: 0;
}

.NickName, h2{
  font-size: 25px;
  font-weight: 700;
  color: aliceblue;
  -webkit-text-stroke: 1px black;
}

.NickName{
  margin: 2rem 0 .5rem 0;
}

.input_nick{
  padding: .5rem;
  border: solid 1px black;
  outline: none;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 1rem;
}

.submit{
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: aliceblue;
  background-color:crimson;
  border: solid 1px aliceblue;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin: 0;
  width: 200px;
}