body{
  background-color: bisque;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container_nickname{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: coral;
  padding: 2rem 3rem;
  border-radius: 8px;
  -webkit-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 22px 0px rgba(0,0,0,0.75);
}

h2{
  margin: 0;
}

.NickName, h2{
  font-size: 25px;
  font-weight: 700;
  color: aliceblue;
  -webkit-text-stroke: 1px black;
}

.NickName{
  margin: 2rem 0 .5rem 0;
}

.input_nick{
  padding: .5rem;
  border: solid 1px black;
  outline: none;
  border-radius: 3px;
  font-size: 20px;
  margin-bottom: 1rem;
}

.submit{
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color: aliceblue;
  background-color:crimson;
  border: solid 1px aliceblue;
  border-radius: 5px;
  padding: 1rem 1rem;
  margin: 0;
  width: 200px;
}

.notes{
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  border: solid 1px red;
  padding: .5rem;
  color: red;
  text-transform: uppercase;
  text-align: center;
  list-style-type: none;
}

h3{
   margin-top: 1rem;
   text-transform: uppercase;
}